{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Pregled</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Trenutna temperatura</div>
            <div class="card-body">
                <h5 class="card-title" id="temperature">Loading...</h5>
                <p id="temperature-timestamp" style="font-size: 0.85rem;">Loading timestamp...</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Status kotla</div>
            <div class="card-body">
                <h5 class="card-title" id="relay-status">Loading...</h5>
                <p id="relay-status-timestamp" style="font-size: 0.85rem;">Loading timestamp...</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Izabrana konfiguracija
                <span style="float: right; cursor: pointer;" id="open-settings-icon">
                    ⚙️
                </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="#" id="selected-config" style="color: white; text-decoration: underline;">Loading...</a>
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Izaberite konfiguraciju</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul id="config-list" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}